html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #0e161d;
    background-color: #ededed;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

.wrapper{
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px auto;
    width: 66%;
    padding: 15px;
}

.wrapper .row{
    margin-bottom: 15px;
}

.wrapper .inline-text{
    display: inline;
    max-width: 400px;
    margin-bottom: 10px;
}