.login-page{
  background-image: url('/img/login-background.png');
  background-position: center;
  background-size: 100% auto;
}

.login-logo a, .register-logo a{
  color: #333;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
  height: auto;
}

table tr td{
  vertical-align: middle !important;
}

span.required{
  color: #FF4747;
}

.invoice-info{
  margin-bottom: 15px;
}

.lead{
    margin-bottom: 0px;
}

.lead-bottom{
    margin-bottom: 20px;
}

.popover{
  max-width: 600px;
}

.popover .popover-content{
  font-size: 11px;
}

.popover .popover-content h2{
  font-size: 13px;
  margin: 0 0 5px 0;
}

.popover .popover-content p, .popover .popover-content ul{
  margin-bottom: 5px;
}